h1 {
  text-align: center;
}
.button {
  float: right;
}
#salaryTable {
  width: 100%;
  border: 1px solid black;
}
.redSalary {
  background-color: crimson;
  float: right;
  color: white;
}
.greenSalary {
  background-color: chartreuse;
  float: right;
}
